<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<form action="#" th:action="@{/}" th:object="${personForm}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>

        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastname}" /></td>
            <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last Name Error</td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>

        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Repeat Password:</td>
            <td><input type="text" th:field="*{repassword}" /></td>
            <td th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">RepeatPassword Error</td>
        </tr>
        <tr>
            <td><button type="submit">Register</button></td>
        </tr>
    </table>
</form>
</body>
</html>